[package]
name = "classicube-chatsounds-plugin"
version = "3.9.5"
authors = ["SpiralP <spiral.palmer@gmail.com>"]
edition = "2021"
publish = false

[lib]
crate-type = ["cdylib"]

[dependencies]
anyhow = { version = "1", features = ["backtrace"] }
chatsounds = { git = "https://github.com/SpiralP/rust-chatsounds.git" }
classicube-helpers = { git = "https://github.com/SpiralP/rust-classicube-helpers.git", branch = "next" }
classicube-sys = "3"
color-backtrace = { git = "https://github.com/SpiralP/color-backtrace-msgbox.git" }
crossbeam-channel = "0.5"
futures = "0.3"
lazy_static = "1"
parking_lot = "0.12"
rand = "0.8"
rand_chacha = "0.3"
tokio = { version = "1", features = ["full"] }
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }


[package.metadata.release]
pre-release-commit-message = "Release {{version}}"
tag-message = "Release version {{version}}"


[patch.crates-io]
classicube-sys = { git = "https://github.com/SpiralP/rust-classicube-sys.git", branch = "next" }
