name: Rust
on: [push]

jobs:
  build_linux:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
      
    - name: Install deps
      run: sudo apt-get -y update && sudo apt-get -y install mesa-common-dev libopenal-dev libcurl4-openssl-dev libgl1-mesa-dev libasound2-dev

    - name: Install nightly
      uses: actions-rs/toolchain@v1
      with:
        toolchain: nightly
        override: true

    - name: Test
      uses: actions-rs/cargo@v1
      with:
        command: test

    - name: Build Release
      uses: actions-rs/cargo@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        command: build
        args: --release

    - name: Upload Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: target/release/librust_classicube_chatsounds_plugin.so
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build_windows:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v1

    - name: Install nightly
      uses: actions-rs/toolchain@v1
      with:
        toolchain: nightly
        override: true

    - name: Test
      uses: actions-rs/cargo@v1
      with:
        command: test

    - name: Build Release
      uses: actions-rs/cargo@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        command: build
        args: --release

    - name: Upload Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: target/release/rust_classicube_chatsounds_plugin.dll
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
